body {
    font-style: italic;
}

  body {
    background-image: url("l.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 111% 114%;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
